/*css reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*generics*/
body {
    width: 512px;
    background-color: rgb(13, 13, 78);
    font-family: "DM Sans";
}

#main-header {
    height: 270px;
}

h1 {
    padding: 20px;
    color: white;
}

p {
    padding: 5px;
    color:white;
}

/*utils*/

.container {
    min-height: 200px;
    width: 350px;
    margin: 35px 70px;
}

.chats {
    min-height: 200px;
    width: 350px;
    border: 2px solid red;
    margin: 35px 70px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(78, 78, 168, 0.644);
    position: relative;
    
}

/*button prima card*/

.download {
    height: 43px;
    width: 333px;
    margin-bottom: 10px;
    position: relative;
    left: 5px;
    background-color: white;
    color:black;
    border-radius:10px 10px 10px 10px;
}

.discord {
    height: 43px;
    width: 333px;
    margin-bottom: 10px;
    position: relative;
    left: 5px;
    background-color: rgb(71, 98, 238);
    color: white;
    border-radius:10px 10px 10px 10px;

}

/*immagini prima card*/

.demo-discord {
    margin: 10px 2px;
    width: 200px;
    position: relative;
    left: 80px;
    border-radius: 10px 10px 10px;
}

#cube {
    width: 60px;
    position: absolute;
    top: -35px;
    left: 47px;
}

.streamer {
    margin: 10px 2px;
    width: 200px;
    position: relative;
    left: 80px;
    border-radius: 10px 10px 10px;
}